<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>

<%- include("./nav.ejs") %>
<% if (locals.messages){ %>
    <%console.log(messages)%>
    <% messages.forEach((message) => { %>
        <h1><%= message.username %></h1>
        <p><%= message.message %></p>
    <% }) %>
<% } %>

</body>
</html>