<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">New</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/auth/sign-up">sign-up</a></li>
        <li>
            <form action="/auth/logout" method="post">
                <button type="submit">log out</button> </form></li>
    </ul>
</nav>